<!DOCTYPE html>
<html>
  <head>
    <title>mamatomo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">

        <!-- error -->
      <% if notice.present? %>
        <div class="alert alert-dismissable alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p><%= notice %></p>
        </div>
      <% end %>

      <% if alert.present? %>
        <div class="alert alert-dismissable alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p><%= alert %></p>
        </div>
      <% end %>
  <!-- //error -->

        <!--navbar-collapse -->
        <div class="collapse navbar-collapse" id="navbar-collapse-menu">
     <ul class="nav navbar-nav navbar-right">
       <% if user_signed_in? %>
         <li><%= link_to "設定変更", edit_user_registration_path %></li>
         <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
       <% else %>
         <li><%= link_to "新規登録", new_user_registration_path %></li>
         <li><%= link_to "ログイン", new_user_session_path %></li>
       <% end %>
     </ul>
   </div><!-- /.navbar-collapse -->

<!--Retrieval-->
        <div class="col-md-12 retrieval">
         <div class="form-inline pull-right" style="margin-bottom:10px;">
           <form class="post_search" id="post_search" action="/posts" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
             <div class="form-group">
               <input placeholder="タイトルか本文を検索" class="form-control" type="search" name="q[title_or_body_cont]" id="q_title_or_body_cont">
               <input type="submit" name="commit" value="検索" class="btn btn-primary" data-disable-with="検索">
             </div>
</form>         </div>
        </div>
<!--//Retrieval-->

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header nav_logo">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- ★★★★下記の#を後ほど正しいURLに変更 -->
          <%= link_to "", root_path, class: "navbar-brand" %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <!-- ★★★★下記の#を後ほど正しいURLに変更 -->
            <li><a href="/posts/new">投稿する</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <!-- ★★★★下記の#を後ほど正しいURLに変更 -->
            <li><a href="#">最新</a></li>
            <li><a href="#">ランキング</a></li>
            <li><a href="#">妊娠・子育て</a></li>
            <li><a href="#">仕事・キャリア</a></li>
            <li><a href="#">お料理・レシピ</a></li>

          </ul>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
